{%  extends "base.html" %}

{% block content %}

<div class="col-lg-12">

    <div class="list-module">
        <h1><b>Members</b></h1>
    </div>
    <br>


    <div class="member-div">
        <div class="row bottom_margin">
            <div class="col-lg-5">
                <div class="row bottom_margin">
                    <img class= "member-profile-img" src="/static/imgs/members/gs.png"/>
                    <div class="member-name">근수</div>
                    <div class="member-area">휴먼.<br>
                        천동.<br>
                        요즘 조용함.
                    </div>
                </div>
                <div class="row bottom_margin">
                    <div><strong>스킬</strong></div>
                    <img class="member-skill-img skill-tooltip"
                         alt="음식사진 찍기"
                         title="음식사진 찍기<br> 항상 밥먹기전에 찍어서 누군가에게 보냄."
                         src="http://ddragon.leagueoflegends.com/cdn/7.17.2/img/spell/LuluQ.png">
                    <img class="member-skill-img skill-tooltip"
                         alt="음식사진 찍기"
                         title="음식사진 찍기<br> 항상 밥먹기전에 찍어서 누군가에게 보냄."
                         src="http://ddragon.leagueoflegends.com/cdn/7.17.2/img/spell/LuluQ.png">
                    <img class="member-skill-img skill-tooltip"
                         src="http://ddragon.leagueoflegends.com/cdn/7.17.2/img/spell/LuluW.png">
                    <img class="member-skill-img skill-tooltip"
                         alt="낚시안가냐?"
                         title="낚시즐기기<br> 가끔씩 쥐도새도 모르게 낚시 갔다옴.<br>항상 갔다온 사진 투척.<br>낚시팟은 상당히 다양하다"
                         src="http://ddragon.leagueoflegends.com/cdn/7.17.2/img/spell/NautilusAnchorDrag.png">
                    <img class="member-skill-img skill-tooltip"
                         alt="단결된 의지"
                         title="단결된 의지<br>
                         모두들 PC방을 간다고 하거나 모일 일 생기면 모든 능력치 상승"
                         src="http://ddragon.leagueoflegends.com/cdn/7.17.2/img/spell/ShenR.png">
                </div>
            </div>
            <div class="row col-lg-7">
                <div class="member_stat">
                    <div><strong>능력치</strong></div>
                    <canvas id="gsChart"></canvas>
                    <script>
                    var ctx = document.getElementById("gsChart");
                    ctx.height = 140;
                    ctx.weight = 140;

                    var gsChart = new Chart(ctx, {
                      type: 'radar',
                      responsive: false,
                      data: {
                        labels: ["지능", "공격력", "체력", "이동속도", "새벽 저항력"],
                        datasets: [{
                          label: '근수',
                          backgroundColor: "rgba(200,255,200,0.5)",
                          borderColor: "rgba(153,255,51,1)",
                          data: [5, 5, 5, 10, 1,0]
                        }]
                      },
                    });
                    </script>
                </div>
            </div>
        </div>
        <div class="row bottom_margin col-lg-12">
            <strong>스킨</strong>
        </div>

    </div>


</div>



<script>
$(document).ready(function() {
    initTooltip();

    function initTooltip(){
        const el1 = document.querySelector('#myId')
        tippy('#myId',{

        });


        const el = document.querySelector('.skill-tooltip')

        // ToolTip
        tippy('.skill-tooltip',{
            position: 'bottom',
            trigger: 'mouseenter focus',
            interactive: 'true',
            animation: 'shift',
            followCursor: 'true',
            size: 'big',
        });

    }

})
</script>
{% endblock %}