{%  extends "base.html" %}

{% block content %}

<div class="col-lg-12">

  <div class="list-module">
      <h1><b>챔피언 목록</b></h1>
  </div>

  {% for champion in champion_list %}
  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
    <div class="member-div">
      <a href="{% url 'champion_detail' champion.id %}">
        <img class="member-profile-img" src="{{ champion.profile_img }}"/>
      </a>
      <div class="member-name">{{ champion.name }}</div>
      <div class="member-area">{{ champion.area }}</div>
      <div class="member-area"></div>
    </div>
  </div>
  {% endfor %}

</div>

<script>
$(document).ready(function() {

})
</script>
{% endblock %}